---
{% set arches = arches.split() -%}
{% set plans = plans.split() -%}
{% for arch in arches -%}
  {% for plan in plans %}
- job:
    name: build-images-{{ arch }}{{ plan | replace("/tmt/plans", "") }}
    parent: tmt-test
    vars:
      tmt_url: "https://pagure.io/{{ '{{' }} zuul.project.name {{ '}}' }}"
      tmt_ref: "{{ '{{' }} zuul.ref {{ '}}' }}"
      tmt_plan: "{{ plan }}"
      distro: fedora-rawhide
      compose: Fedora-latest
      tf_arch: {{ arch }}
  {%- endfor %}
{%- endfor %}

- project:
   check:
    jobs:
{% for arch in arches -%}
  {% for plan in plans %}
      - build-images-{{ arch }}{{ plan | replace("/tmt/plans", "") }}
  {%- endfor %}
{%- endfor %}
